{% extends "layout.html" %}
{% block jumbotron %}
<h2>Data Frames</h2>
<p>
</p>
{% endblock %}

{% block content %}
<div id="clear_success_alert" class="alert alert-success collapse">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success</strong> All stored data frames have been cleared.
</div>

<script type=text/javascript>
  $(function() {
    $('#clear_all_frames').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/querier/_clear_all_frames', {}, function(data) {
        $("#clear_success_alert").fadeTo(2000, 500).slideUp(500, function() {
          $("#clear_success_alert").slideUp(500);
        });
      });
      $.getJSON($SCRIPT_ROOT + '/querier/_query_frame_pool', function(data) {
        $('#list_of_frames').find('a').remove().end();
        for( i in data.result )
        {
          $('#list_of_frames').append('<a class="list-group-item">'+
          '<div><h5>Index: '+i+
          '</h5><small>length: '+data.result[i].length+'</small></div>'+
          '<p> keys: '+data.result[i].keys.join(", ")+'</p>'+
          '<p> features: '+data.result[i].features.join(", ")+'</p>'+
          '</a>');
        }
      });
      return false;
    });
  });
</script>

<div class="panel panel-default">
    <div class="panel-heading">Dash Board</div>
    <div class="panel-body">
        <button id="clear_all_frames" class="btn btn-primary btn-block" type="button">Clear All Frames</button>
    </div>
</div>


<script type=text/javascript>
$(function() {
  $.getJSON($SCRIPT_ROOT + '/querier/_query_frame_pool', function(data) {
    $('#list_of_frames').find('a').remove().end();
    for( i in data.result )
    {
      $('#list_of_frames').append('<a class="list-group-item">'+
      '<div><h5>Index: '+i+
      '</h5><small>length: '+data.result[i].length+'</small></div>'+
      '<p> keys: '+data.result[i].keys.join(", ")+'</p>'+
      '<p> features: '+data.result[i].features.join(", ")+'</p>'+
      '</a>');
    }
  });
});
</script>

<div class="panel panel-default">
    <div class="panel-heading">List of Frames in the Pool</div>
    <div class="panel-body">
        <div id="list_of_frames" class="list-group">
        </div>
    </div>
</div>
{% endblock %}